* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ===============================Common===================== */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.btn:hover {
  opacity: 0.9;
}
/* ===============================Header============================ */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 110px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}
.action__login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  width: 6px;
  height: 6px;
  content: "";
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  right: 8px;
  top: -3px;
}
.action__login {
  margin-right: 7px;
}
.action__signup {
  padding: 8px 20px;
  min-width: 104px;
  line-height: 44px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
/* =================================Hero============================ */
.hero {
  display: flex;
}
.hero__images {
  display: flex;
}
.hero__content {
  width: 53%;
  margin-top: 136px;
}
.hero__media {
  width: 47%;
}
.hero__heading {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  width: 468px;
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
}
.hero__phone {
  margin-left: 38px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}
.hero__images {
  margin-top: 76px;
  align-items: center;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
}
.hero__img-small {
  width: 210px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 0px 6px 6px 0px;
}
/* =============================Service========================= */
.service {
  padding-top: 170px;
  padding-bottom: 170px;
}
.service__top {
  text-align: center;
}
.service__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.service__desc {
  margin-top: 18px;
  display: inline-block;
  width: 468px;
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.service__bottom {
  padding-top: 70px;
  display: flex;
  gap: 130px;
}
.service__images {
  width: 570px;
  height: 570px;
  border-radius: 12px;
}
.service__list {
  padding-top: 35px;
  padding-bottom: 36px;
}
.service-item {
  display: flex;
  gap: 19px;
  width: 470px;
  height: 128px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item__icon {
  margin-top: 21px;
  margin-left: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-item__icon:hover {
  color: #fff;
  background: #2e80ce;
  transition: 0.5s;
  cursor: pointer;
}
.service-item__heading {
  margin-top: 21px;
  margin-bottom: 8px;
  color: #10375c;
  font-size: 18px;
  font-weight: 600;
}
.service-item__desc {
  width: 308px;
  color: #575f66;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__list .btn {
  margin-top: 55px;
}
